@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.who {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-content: center;
    justify-items: center;

    @include breakpoints(sm) {
        grid-template-columns: 1fr 1fr;
    }

    .person {
        max-width: 400px;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .alias {
            font-size: 0.8rem;
            font-variation-settings: "wght" 100, "wdth" 100;
            min-height: 20px;

        }

        .rs {
            .instagram {
                display: flex;
                width: 20px;
                height: 20px;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: $black;
                transition: all 0.5s;
                font-variation-settings: "wght" 400, "wdth" 100;


                &:visited {
                    color: $black;
                }

                &:hover {
                    font-variation-settings: "wght" 100, "wdth" 100;
                    color: $red;
                }
            }
        }

        img {
            max-width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: cover;
            margin-bottom: 0px;
            margin-top: 30px;
            border: 1px solid $black;
        }

        .info {
            margin-top: 30px;
        }

        &:nth-child(even) {

            img {
                order: 1;
                @include breakpoints(sm) {
                    order: -1;
                    margin-bottom: 30px;
                    margin-top: 0;

                }
                margin-bottom: 0px;
                margin-top: 30px;
            }

        }
    }
}