@import '../../../../src/scss/abstracts/all.scss';

$border-size: 5px;

.pictos {
    &_container {
        border: none;
        @include breakpoints(sm) {
            background-color: $orange;
            border-top: $border-size solid $black;
            border-bottom: $border-size solid black;
        }
    }

    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    
    @include breakpoints(sm) {
        padding: 0 10vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0px;
    }

    .picto {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: $border-size solid $black;
        position: relative;
        height: 150px;
        gap: 1vw;
        padding: 20px;
        background-color: $orange;
        &:nth-child(1) {
            top: $border-size;
        }

        &:nth-child(3) {
            top: -$border-size;
        }
        
        @include breakpoints(sm) {
            padding: 0 20px;
            height: 10vw;
            border-top: none;
            border-bottom: none;
            border-left: $border-size solid $black;
            border-right: $border-size solid black;

            &:nth-child(1) {
                left: $border-size;
            }

            &:nth-child(3) {
                left: -$border-size;
            }
        }

        .icon {
            height: 100%;
            width: 40%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            position: relative;
            animation: pig infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform-origin: bottom left;
        }

        .text {
            width: 50%;
            color: $black;
            font-size: clamp(20px, 2vw, 35px);
            line-height: clamp(20px, 2vw, 35px);
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;

            @include breakpoints(lg) {
                font-size: clamp(20px, 2vw, 35px);
                line-height: clamp(20px, 2vw, 35px);
            }
        }


    }
}

@keyframes pig {

    0%,100%{
        bottom: 0px;
        rotate: 0deg;
    }
    20%{
        bottom: 10px;
        rotate: -5deg;
    }
    30%{
        bottom: 0px;
        rotate: 0deg;
    }
}