.button {
    padding: 2px 20px;
    border-radius: $border-radius;

    &.red {
        border: 1px solid $red;
        color: $red !important;
        background-color: $white;
    }
}

.instagram {
    background-image: url('../image/instagram.png');
    height: 25px;
    width: 25px;
    background-size: cover;

    &:hover {
        rotate: -5deg;
    }
}

.fig {
    background-image: url('../image/fig.png');
    height: 20px;
    width: 37px;
    background-size: cover;
}

.fig-container {
    transition: transform 0.5s ease-in-out; /* Transition pour le retour à l'état initial */
}

.fig-container:hover {
    animation: bump 1s infinite alternate cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fig-container:not(:hover) {
    animation: bump-out 0.5s forwards; /* Animation pour revenir à l'état initial */
}

@keyframes bump {
    0% {
        transform: translateY(0) rotate(5deg);
    }
    50% {
        transform: translateY(-15px) rotate(-5deg);
    }
    100% {
        transform: translateY(0) rotate(5deg);
    }
}

@keyframes bump-out {
    0% {
        transform: translateY(0) rotate(5deg); /* État en fin de hover */
    }
    50% {
        transform: translateY(-55px) rotate(-360deg) scale(1.2); /* État en fin de hover */
    }
    100% {
        transform: translateY(0) rotate(0deg); /* État initial */
    }
}
