.link {
    position: relative;
    width: fit-content;
    height: auto;
    display: flex;
    a {
        color: $white;
        border: 5px solid $black;
        border-radius: 100px;
        text-transform: uppercase;
        padding: 5px 7px;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        &:visited{
            color: $white;
        }
        &:hover{
            transform-origin: bottom center;
            animation: giggle 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
    &.blue{
        a{
            background-color: $blue;
        }
    }
    &.red{
        a{
            background-color: $red;
        }
    }
}
@keyframes giggle {
    0%,100%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(2deg);
    }
    75%{
        transform: rotate(-2deg);
    }
}