@import '../../../../src/scss/abstracts/all.scss';
// Call all variables 

.reviews {
    display: flex;
    flex-direction: column;
    padding: 10vh 0;

    h2 {
        text-align: center;
        font-size: 3rem;
        
    }
    .swipper {
        .slick-track {
            display: flex;
            align-items: center;
        }

        .card {
            background-color: $white;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 20px;
            margin: 20px;
            align-items: center;
            box-shadow: 0px 5px 10px 0px rgba(0, 0,0, 0);
            max-width: 80vw;
            @include breakpoints('sm') {
                max-width: 30vw;
            }

            transition: all 0.5s ease-in-out;
            &.slick-current{
                transform: scale(1.1);
                transition: transform 0.5s;
                box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
            }

            .inside {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0px 10px;
                flex-direction: column;
                @include breakpoints('sm') {
                    flex-direction: row;
                }
            }

            .img {
                background-size: cover;
                width: 100px;
                aspect-ratio: 1/1;
                min-width: 100px;
                border-radius: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border: 2px solid black;
            }

            .text {
                h4 {
                    margin: 0;
                    text-transform: uppercase;
                }

                p {
                    font-style: italic;
                    font-size: 0.7rem;
                }
            }

        }
    }
}