.is_full_page{
    padding-top: 60px;
    @include breakpoints(sm) {
        padding-top : 200px;
    }
    &_mid{
        padding-top: 60px;
        @include breakpoints(sm) {
            padding-top : 100px;
        }
    }
}