@import '../../../../src/scss/abstracts/all.scss';

.avis {
    max-width: calc(80% + 16px);

    &_container {
        padding: 10px 0px 0px 0px;
        background-color: $red;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;

        @include breakpoints(md) {
            padding: 100px 0px 10vh 0px;
        }

        .arrow {
            z-index: 2;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            width: 75%;
            aspect-ratio: 1926/1729;
            display: flex;
            animation: hands 5s infinite;
            top: 30%;
            background-image: url('../MAIN.svg');
            @include breakpoints(md) {
                top: 50%;
                top: 38%;
                width: 25%;
            }

        }

        .arrow_left {
            left: calc(-60% - 6px);
            rotate: 17deg;

            @include breakpoints(md) {
                left: calc(-13% - 14px);
            }
        }

        .arrow_right {
            right: calc(-60% - 6px);
            rotate: -17deg;
            scale: -1 1;

            @include breakpoints(md) {
                right: calc(-13% - 14px);
            }
        }
    }


    .slick-list {
        height: 100%;

        .slick-track {
            height: 100%;
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }

    .avi {
        width: 80vw;
        position: relative;
        transition: all 0.5s ease-in-out;
        border-radius: 30px;
        border: 5px solid $black;
        padding: 20px;
        background-color: $white;

        &.slick-current {
            .icon {
                top: -10px;
                scale: 1.1;
            }

            .etoile {
                rotate: 50deg;
            }
        }

        @include breakpoints(sm) {
            width: calc((80vw - 20px) / 2);
        }

        @include breakpoints(md) {
            width: calc((80vw - 40px) / 3);
        }

        @include breakpoints(xlg) {
            width: calc((80vw - 80px) / 5);
        }

        @include breakpoints(xxxxl) {
            width: calc((1536px - 80px) / 5);
        }

        .name {
            color: $blue;
            font-family: $secondary-font-family;
            font-weight: 100;
            font-size: 30px;

            @include breakpoints(sm) {
                font-size: clamp(20px, 2vw, 35px);
            }
        }

        .icon {
            display: flex;
            width: 80px;
            height: 80px;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            transition: all 0.5s ease-in-out;
            position: relative;
            transform-origin: center;
        }

        .etoile {
            background-image: url('../ETOILE_JAUNE.png');
            background-size: contain;
            position: absolute;
            width: 30px;
            height: 30px;
            top: 30px;
            right: 30px;
            transition: all 0.5s ease-in-out;
        }

        .date {
            display: flex;
            width: 100%;
            text-align: right;
            justify-content: flex-end;
            font-weight: 100;
        }

    }
}

.under_card {
    background-color: $red;
    display: flex;
    text-align: center;
    color: $white;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    padding: 20px 0px 100px 0px;

    @include breakpoints(md) {
        padding: 30px 0px 120px 0px;
    }

    strong {
        font-family: $secondary-font-family;
        font-weight: 100;
        text-transform: uppercase;
    }

    .link {
        margin: auto;
        margin-top: 20px;
        a {
            width: 350px;
            font-size: 25px;
            padding: 3px 20px;
        }
    }
}