@import '../../../../src/scss/abstracts/all.scss';

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    background-color: $red;
    color: $white;

    .marquee_container {
        overflow: hidden;
        white-space: nowrap; //le plus important
        width: 100%;
        position: relative;

        .marquee_content {
            display: flex;
            animation: marquee linear infinite;
            font-family: $secondary-font-family;
            text-transform: uppercase;
            font-size: 20px;
            gap: 20px;
            width: fit-content;

            div {
                width: fit-content;
                display: flex;
                height: auto;
                align-items: center;
                gap: 20px;

                img {
                    //modifier pour la taille de l'imageF
                    width: fit-content;
                    height: 20px;
                    object-position: 0px -2px;
                    overflow: visible;
                }
            }

            @include breakpoints(sm) {
                font-size: 50px;

                div {
                    img {
                        height: 40px;

                    }
                }
            }
        }
    }
}



@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}