
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wdth,wght@12..96,75..100,200..800&display=swap');
@import url("https://use.typekit.net/wag8qha.css");
// Font Family
$primary-font-family: "Bricolage Grotesque", sans-serif !important;
$secondary-font-family: 'eight', sans-serif;
$marker-font-family: 'permanent-marker-pro', sans-serif;

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;