$border-radius: rem(30);

@keyframes animationEnterTop {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: none;
    }
}

@keyframes animationEnterRight {
    0% {
        transform: translate3d(100%, 0, 0);

    }

    100% {
        transform: none;
    }
}

@keyframes animationEnterBottom {
    0% {
        transform: translate3d(0, 100%, 0);

    }

    100% {
        transform: none;
    }
}

@keyframes animationEnterLeft {
    0% {
        transform: translate3d(-100%, 0, 0);

    }

    100% {
        transform: none;
    }
}

@keyframes animationLeaveTop {
    0% {
        transform: none;

    }
    100% {
        transform: translate3d(0, -101%, 0);
    }
}

@keyframes animationLeaveRight {
    0% {
        transform: none;

    }

    100% {
        transform: translate3d(101%, 0, 0);
    }
}

@keyframes animationLeaveBottom {
    0% {
        transform: none;

    }

    100% {
        transform: translate3d(0, 101%, 0);
    }
}

@keyframes animationLeaveLeft {
    0% {
        transform: none;

    }

    100% {
        transform: translate3d(-101%, 0, 0);
    }
}

@mixin hover-text {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        font-variation-settings: "wght" 200, "wdth" 100;
    }
}

@keyframes heart {
    0% {
        transform: rotate(5deg) scale(1);
    }

    50% {
        transform: rotate(-5deg) scale(1.1);
    }

    100% {
        transform: rotate(5deg) scale(1);
    }
}


@keyframes bump {
    0% {
        transform: translateY(0) rotate(5deg);
    }

    50% {
        transform: translateY(-15px) rotate(-5deg);
    }

    100% {
        transform: translateY(0) rotate(5deg);
    }
}

@keyframes bump-out {
    0% {
        transform: translateY(0) rotate(5deg);
    }

    50% {
        transform: translateY(-55px) rotate(-360deg) scale(1.2);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes jump {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    10% {
        transform: translateY(-40px) rotate(-5deg) scale(1.2);
    }

    100% {
        transform: translateY(0%) rotate(0deg);
    }
}