@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.hero_video {
    width: 100vw;
    display: flex;

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}