@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.projets {
    width: 100%;
    padding: 20px;

    h1 {
        font-variation-settings: "wght" 300, "wdth" 100;
        font-size: 4rem;
    }

    .under {
        margin-bottom: 40px;
    }

    .grid {
        margin: 0 auto;

        .grid-item {
            width: calc(100%);
            margin-bottom: 18px;
            background-color: #f4f4f4;
            box-sizing: border-box;
            position: relative;

            @include breakpoints('xsm') {
                width: calc(50% - 20px);
            }

            @include breakpoints('sm') {
                width: calc((100%/3) - 20px);
            }

            @include breakpoints('lg') {
                width: calc(20% - 20px);
            }

            .image {
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;

                img {
                    display: block;
                    height: auto;
                    width: 100%;
                    background-color: #ccc;
                }

                .description {
                    transform: translate3d(-100%, 0, 0);
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                    animation-timing-function: cubic-bezier(0.25, 1, 0.45, 1);
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background-color: $black;
                    text-align: center;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .overlay {
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        color: $white;
                        font-size: 1.5rem;
                        grid-template-rows: 20% auto;
                        gap: 5%;
                        

                        .name {
                            font-style: italic;
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 1rem;
                        }

                        .insta {
                            border: 1px solid $white;
                            padding: 0px 10px;
                            border-radius: $border-radius;
                            z-index: 20;
                            font-size: 1rem;

                            a {
                                text-decoration: none;
                                color: $red;
                                font-variation-settings: "wght" 600, "wdth" 100;
                                @include hover-text;
                            }
                        }
                    }

                }

                &.mouseenter {
                    &.top {
                        .description {
                            animation-name: animationEnterTop;
                        }
                    }

                    &.right {
                        .description {
                            animation-name: animationEnterRight;
                        }
                    }

                    &.bottom {
                        .description {
                            animation-name: animationEnterBottom;
                        }
                    }

                    &.left {
                        .description {
                            animation-name: animationEnterLeft;
                        }
                    }
                }

                &.mouseleave {
                    &.top {
                        .description {
                            animation-name: animationLeaveTop;
                        }
                    }

                    &.right {
                        .description {
                            animation-name: animationLeaveRight;
                        }
                    }

                    &.bottom {
                        .description {
                            animation-name: animationLeaveBottom;
                        }
                    }

                    &.left {
                        .description {
                            animation-name: animationLeaveLeft;
                        }
                    }
                }
            }
        }
    }
}