@import '../../../../src/scss/abstracts/all.scss';

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
    gap: 50px;
    position: relative;
    &_container{
        z-index: -1;
        background-image: linear-gradient($white, rgb(255, 248, 236, 0.3)), url('../../assets/TRAM_BG.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px 0 50px;
        @include breakpoints(md){
            padding: 90px 0;
        }
    }
    @include breakpoints(md){
        display: grid;
        grid-gap: 2vw;
        grid-template-rows: 1fr;
        max-width: 90vw;
        margin: auto;
        justify-content: center;
        grid-template-columns: repeat(3, 300px);
    }
    @include breakpoints(lg) {
        display: grid;
        grid-gap: 2vw;
        grid-template-rows: 1fr;
        max-width: 90vw;
        margin: auto;
        justify-content: center;
        grid-template-columns: repeat(3, 400px);
    }

    .card {
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;
        aspect-ratio: 924/1363;
        width: 300px;

        @include breakpoints(lg) {
            width: 400px;
        }

        .add_on {
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 3;
        }

        .background {
            width: 100%;
            aspect-ratio: 924/1363;
            position: absolute;
            z-index: 1;
            background-size: cover;

            @include breakpoints(lg) {
                width: 400px;
            }
        }

        h2 {
            height: 60.5px;
            display: flex;
            align-items: center;
            margin: 6px 0px 0px 25%;
            font-size: 25px;
            line-height: 25px;
            text-transform: uppercase;
            font-weight: 100;
            position: relative;
            z-index: 2;

            @include breakpoints(lg) {
                height: 84px;
                margin: 6px 0px 0px 25%;
                font-size: 35px;
                line-height: 30px;
            }
        }

        .text {
            position: relative;
            z-index: 2;
            font-size: 14px;
            height: calc(100% - 80px);
            padding: 30px 40px;
            line-height: 14px;

            @include breakpoints(lg) {
                font-size: 20px;
                padding: 30px 40px;
                line-height: 22px;
                height: calc(100% - 100px);
            }
        }

        &:nth-child(1) {
            .add_on {
                top: -2%;
                right: -7%;
                width: 35%;
                aspect-ratio: 172/164;
                animation: write infinite 2s ease-in-out alternate;
                transform-origin: left bottom;

                @include breakpoints(lg) {
                    top: -7%;
                    right: -30px;
                    width: 172px;
                }
            }

            &::after {
                content: '';
                display: flex;
                position: absolute;
                z-index: 3;
                background-image: url('../../assets/feuille.png');
                background-size: contain;
                width: 40px;
                bottom: 9px;
                right: -10px;
                aspect-ratio: 63/95;
                background-repeat: no-repeat;
                animation: leaf infinite 4s ease-in-out alternate;
                transform-origin: left bottom;

                @include breakpoints(lg) {
                    width: 53px;
                    bottom: 10px;
                    right: -16px;
                }
            }
        }

        &:nth-child(2) {
            flex-direction: column-reverse;

            h2 {
                margin: 0px 0px 16px 25%;
            }

            .add_on {
                top: 7%;
                left: -2vw;
                width: 20%;
                aspect-ratio: 93/122;
                animation: rotate infinite 2.5s ease-in-out alternate;
                transform-origin: center bottom;

                @include breakpoints(lg) {
                    top: 7%;
                    left: -30px;
                    width: 73px;
                }
            }

            .text {
                padding: 30px 50px;
            }
        }

        &:nth-child(3) {
            .text {
                padding: 40px 60px;

                @include breakpoints(lg) {
                    padding: 45px 60px;
                }

                ul {
                    margin: 50px 0px;
                    padding: 0px;
                }
            }

            .add_on {
                top: 30px;
                right: -15px;
                width: 90px;
                aspect-ratio: 133/107;
                animation: kk infinite 2s ease-in-out alternate;
                transform-origin: center center;

                @include breakpoints(lg) {
                    top: 30px;
                    right: -15px;
                    width: 133px;
                }
            }
        }
    }
}

@keyframes kk {
    0% {
        scale: 1;
        transform: rotate(5deg);
    }

    100% {
        scale: 0.8;
        transform: rotate(-5deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(5deg);
    }

    100% {
        translate: -5px -5px;
        transform: rotate(-5deg);
    }
}

@keyframes leaf {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes write {
    0% {
        translate: 0px;
    }

    50% {
        translate: -5px -5px;
        rotate: -5deg;
    }

    100% {
        translate: -10px 0;
    }
}