@import '../../../../src/scss/abstracts/all.scss';
// Call all variables 

.formulaire {
    margin-top: 8vh;
    $border-size: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px 0 10vh;
    position: relative;

    @include breakpoints(sm) {
        margin-top: 0vh;
    }

    .hand {
        position: absolute;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;

        &.before {
            width: 410px;
            aspect-ratio: 494 / 319;
            top: 50%;
            left: calc(5% - (410px / 2) - 133px);

            @include breakpoints(sm) {
                width: 494px;
                top: 30%;
                left: calc(15% - (494px / 2) - 160px);
            }

        }

        &.after {
            width: 454px;
            aspect-ratio: 651 / 323;
            top: 0;
            right: -331px;
            z-index: 11;
            rotate: 15deg;

            @include breakpoints(sm) {
                top: 10%;
                right: -40px;
            }
        }
    }

    .form {
        flex-direction: column;
        width: 90%;
        display: flex;
        border: $border-size solid $black;
        box-shadow: 10px 10px 0px $black;
        border-radius: 20px;
        overflow: hidden;

        @include breakpoints(sm) {
            width: 70%;
        }


        >h2 {
            color: $white;
            font-family: $primary-font-family;
            font-weight: 900;
            text-transform: uppercase;
            padding: 10px 20px;
            border-bottom: $border-size solid $black;
            margin: 0;
        }

        &_content {
            padding: 30px;

            @include breakpoints(sm) {
                padding: 20px 8%;
            }

            form {
                width: 100%;
                display: grid;
                gap: 15px;
                grid-template-columns: 1fr;
                grid-row: auto;
                p:has(input[type='submit']) {
                    display: flex;
                    flex-direction: row-reverse;
                }
            }
        }
    }
}