@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 

.prise_rdv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black;
    padding: 70px 5vw 0;
    color: $white;

    h2 {
        font-size: 2rem;
        color: $white;
    }

    .meetings-iframe-container {
        width: 100%;
    }
}