* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    body {
        background-color: #FFF9ED;
    }
}

a {
    @include hover {
        text-decoration: none;
    }
}

a:visited {
    color: currentColor;
}