@import '../../../../src/scss/abstracts/all.scss';
// Call all variables 

.formulaire{
    $border-size: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    .form{
        flex-direction: column;
        width: 90%;
        display: flex;
        border: $border-size solid $black;
        box-shadow: 10px 10px 0px $black;
        border-radius: 20px;
        overflow: hidden;
       
        @include breakpoints(sm){
            width: 70%;
        }
        > h2{
            background-color: $blue;
            color: $white;
            font-family: $primary-font-family;
            font-weight: 900;
            text-transform: uppercase;
            padding: 10px 20px;
            border-bottom: $border-size solid $black;
            margin: 0;
        }
        &_content{
            padding: 50px;
            form{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    .under_form{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            text-transform: uppercase;
            font-weight: 100;
            color: $blue;
            font-size: 30px;
            margin: 0;
            padding: 0;
        }
        .link{
            a{
                width: 400px;
                text-align: center;
            }
        }
    }
}