@import "../../../../src/scss/abstracts/all.scss";
$total-onglets: 5;

.tylt_onglets {
  margin: 20vh auto;
  display: flex;
  max-width: 1200px;
  color: white;
  flex-direction: column;
  position: relative;
  min-height: 340px;
  padding: 5px;
  @include breakpoints(sm, max) {
    flex-direction: row;
  }
  .nom_onglet,
  .onglet {
    .nom,
    .contenu {
      &:nth-child(3n + 1) {
        background-color: $orange; // 1er, 4ème, 7ème, etc.
        color: $black;
      }

      &:nth-child(3n + 2) {
        background-color: $blue; // 2ème, 5ème, 8ème, etc.
        color: $white;
      }

      &:nth-child(3n + 3) {
        background-color: $red; // 3ème, 6ème, 9ème, etc.
        color: $white;
      }
    }
  }
  .nom_onglet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    @include breakpoints(sm, max) {
      align-items: flex-end;
      flex-direction: column;
    }
    .nom {
      width: fit-content;
      padding: 5px 30px 15px 30px;
      border: 5px solid $black;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      text-transform: uppercase;
      color: $black;
      font-weight: 800;
      position: relative;
      left: 0;
      @for $i from 1 through $total-onglets {
        &:nth-child(#{$i}) {
          left: -25px * ($i - 1);
          z-index: $total-onglets + 3 - $i;
          transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover {
            left: -20px * ($i - 1);
          }
        }
      }
      @include breakpoints(sm, max) {
        @for $i from 1 through $total-onglets {
          &:nth-child(#{$i}) {
            padding: 30px 15px 30px 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 0px;
            text-wrap: nowrap;
            writing-mode: sideways-lr;
            left: 0;
            z-index: $total-onglets + 3 - $i;
            transition: left 0.2s cubic-bezier(0.175, 0.885, 0.32, 1);
            &:hover {
              left: 0px;
            }
            &.active {
              z-index: $total-onglets + 11;
              padding: 30px 15px 30px 5px;
              border-bottom: #000000 5px solid;
              border-right: #000000 5px hidden;
            }
          }
        }
      }

      &:hover {
        z-index: $total-onglets + 3;
        cursor: pointer;
      }

      &.active {
        z-index: $total-onglets + 11;
        padding: 5px 30px 10px;
        border-bottom: #000000 5px hidden;
      }
    }
  }
  .onglet {
    position: relative;
    width: 100%;
    top: -15px;
    @include breakpoints(sm, max) {
      top: 0px;
      left: -5px;
    }
    .contenu {
      border: 5px solid $black;
      position: absolute;
      width: 100%;
      border-radius: 15px;
      min-height: 200px;
      height: auto;
      padding: 20px;
      z-index: 10;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 30px;
      opacity: 0;
      @include breakpoints(sm, max) {
        flex-direction: column;
      }
      &_image {
        flex: 1;
        display: flex;
        align-items: center;
        aspect-ratio: 16/9;
        width: 50%;
        height: auto;
        border: 5px solid $black;
        border-radius: 15px;
        position: relative;
        background-color: $white;
        @include breakpoints(sm, max) {
          width: 100%;
          max-height: 200px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
      &_text {
        flex: 1;
        width: 50%;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        justify-content: space-between;
        @include breakpoints(sm, max) {
          width: 100%;
        }
        h3 {
          font-family: $primary-font-family;
          margin-bottom: 0;
        }
        p {
          margin-left: 10px;
          &:before {
            content: "- ";
          }
        }
      }

      &.active {
        opacity: 1;
        z-index: 15;
        &:nth-child(1) {
          border-top-left-radius: 0px;
        }
        @include breakpoints(sm, max) {
          border-top-left-radius: 0px;
        }
      }
      .kayou {
        margin-top: 20px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        align-items: flex-end;
        gap: 10px;
        &_man {
          display: block;
          width: 50px;
          height: 50px;
          background-image: url("../../../../dist/image/pier.svg");
          background-size: contain;
          background-repeat: no-repeat;
          animation: dancepier infinite 10s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          position: relative;
          top: 0;
        }
        &_text {
          width: 70%;
          background-color: $white;
          border: 4px solid $black;
          padding: 10px;
          border-radius: 15px;
          color: $black;
          position: relative;
          max-width: 400px;
          @include breakpoints(sm, max) {
            width: 90%;
          }
          &:after {
            content: "";
            display: flex;
            width: 10px;
            height: 10px;
            background-color: $black;
            position: absolute;
            z-index: -1;
            right: -8px;
            bottom: 15px;
            rotate: 45deg;
          }
        }
      }
    }
  }
}
@keyframes dancepier {
  0% {
    rotate: 0deg;
    top: 0px;
    left: 0px;
  }
  10% {
    rotate: 15deg;
    top: -20px;
    left: -3px;
  }
  20% {
    rotate: -360deg;
    top: -10px;
    left: 5px;
  }
  30% {
    rotate: 0deg;
    top: 0px;
    left: 0px;
  }
}
