@import '../../../../src/scss/abstracts/all.scss';

.imprimerie{
    display: flex;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    .left{
        width: 60%;
        display: grid;
        grid-template-rows: 60px 60px 70px;
        align-items: center;
        h1{
            font-family: $primary-font-family;
            color: $blue;
            font-size: 60px;
            margin: 0px;
        }
        h2{
            background-color: $black;
            color: $orange;
            text-transform: uppercase;
            padding: 0px 30px;
            border-radius: 100px;
            width: fit-content;
            font-size: 50px;
            margin: 15px 0px 0px;
            rotate: -2deg;
            font-weight: 100;
        }
        p{
            font-size: 55px;
        }
    }
    .right{
        width: 40%;
        display: flex;
        position: relative;
        span {
            display: flex;
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            &.left {
                width: 30%;
                left: -5%;
                bottom: 10%;
                z-index: 2;
                position: absolute;
            }

            &.center {
                width: 60vw;
                z-index: 1;
            }

            &.right {
                width: 20%;
                z-index: 2;
                top: 10%;
                right: 10%;
                position: absolute;

            }
        }
    }
}