@import '../../../../src/scss/abstracts/all.scss';

.imprimerie {
    display: flex;
    max-width: 78vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10vw;
    flex-direction: column;

    @include breakpoints(lg) {
        flex-direction: row;
        max-width: 80vw;
        margin-top: 0vw;
    }

    .left {
        width: 100%;
        display: grid;
        grid-template-rows: 6vw 8vw 6vw;
        align-items: center;

        @include breakpoints(lg) {
            width: 60%;
            grid-template-rows: 60px 60px 70px;
        }

        h1 {
            font-family: $primary-font-family;
            color: $blue;
            font-size: 6.9vw;
            margin: 0px;

            @include breakpoints(lg) {
                font-size: 60px;
            }
        }

        h2 {
            background-color: $black;
            color: $orange;
            text-transform: uppercase;
            padding: 0px 30px;
            border-radius: 100px;
            width: fit-content;
            font-size: 4.9vw;
            margin: 15px 0px 0px;
            rotate: -2deg;
            font-weight: 100;
            transition: rotate, color, background-color 0.5s ease-in-out;

            a {
                color: $orange;
                text-decoration: none;
                transition: rotate, color, background-color 0.5s ease-in-out;
            }

            &:hover {
                rotate: 2deg;

                a {
                    color: white;
                }
            }

            @include breakpoints(lg) {
                font-size: 47px;
            }
        }

        p {
            font-size: 7vw;

            @include breakpoints(lg) {
                font-size: 55px;
            }
        }
    }

    .right {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        @include breakpoints(lg) {
            width: 40%;
        }

        span {
            display: flex;

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }

            &.left {
                width: 25%;
                left: 5%;
                bottom: 10%;
                z-index: 2;
                position: absolute;

                @include breakpoints(lg) {
                    width: 30%;
                    left: -5%;
                }
            }

            &.center {
                width: 70vw;
                z-index: 1;

                @include breakpoints(lg) {
                    width: 60vw;
                }
            }

            &.right {
                width: 15%;
                z-index: 2;
                top: 10%;
                right: 20%;
                position: absolute;

                @include breakpoints(lg) {
                    width: 20%;
                    right: 10%;
                }

            }
        }
    }
}