@import "../../../../src/scss/abstracts/all.scss";

.tylt_info_prestation {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15vh;
  padding: 5px;
  position: relative;

  @include breakpoints(sm, max) {
    padding: 0px 10px;
  }

  .main_devis {
    position: absolute;
    right: -402px;
    top: 70%;
    width: 460px;
    height: auto;
    z-index: 16;
    animation: main infinite 13s ease-in-out;
    @media (min-width: 1921px) {
      display: none;
    }
    @include breakpoints(sm, max) {
      display: none;
    }
  }

  .go_back {
    position: absolute;
    top: -50px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    padding: 8px 20px;
    border-radius: 100px;
    font-variation-settings: "wght" 400;
    @include breakpoints(sm, max) {
      left: 10px;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url("../FLECHE.svg");
      background-size: contain;
      background-repeat: no-repeat;
      rotate: 180deg;
    }
    &:hover {
      background-color: $orange;
      color: $white;
      font-variation-settings: "wght" 800;
    }
  }

  .title_block {
    background-color: $blue;
    color: $white;
    padding: 8px 15px;
    border: 5px solid $black;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    box-shadow: 5px 5px 0px $black;

    &::after {
      content: "";
      position: absolute;
      bottom: -2.5px;
      left: -2.5px;
      transform: translate(-50%, 50%);
      width: 60px;
      height: 60px;
      background-image: url("../ETOILE-BLOC-PRODUIT.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 10;
      transform-origin: center center;
      animation: spin-star 5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
      @include breakpoints(sm, max) {
        left: -2.5px;
        width: 50px;
        height: 50px;
      }
    }

    .categorie {
      color: #fff8ec;
      text-transform: uppercase;
      margin: 0;
      font-size: 30px;
      font-family: $primary-font-family;
      font-weight: 700;
    }
  }
  .card {
    background-color: white;
    border: 5px solid $black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    box-shadow: 5px 5px 0px $black;

    .card_content {
      display: flex;
      align-items: stretch;

      @include breakpoints(sm, max) {
        flex-direction: column;
      }
    }

    .card_images {
      position: relative;
      width: 45%;
      flex-shrink: 0;

      @include breakpoints(sm, max) {
        width: 100%;
        height: 300px;
      }

      .tylt_info_prestation_image {
        height: 100%;
        overflow: hidden;
        border-right: 5px solid $black;
        background-color: $white;
        @include breakpoints(sm, max) {
          border-right: none;
          border-bottom: 5px solid $black;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .card_text {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2%;
      @include breakpoints(sm, max) {
        padding: 15px;
      }

      h1.titre {
        font-size: 26px;
        color: $blue;
        text-transform: uppercase;
        font-weight: 800;
        font-family: $primary-font-family;
        margin: 0;
      }

      .sous_titre {
        font-size: 14px;
        color: $blue;
        text-transform: uppercase;
        font-weight: 600;
      }

      .texte {
        color: $black;
        p {
          margin-bottom: 5px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          span {
            font-weight: 800;
            color: $red;
          }
        }
      }

      .button-devis {
        font-size: 20px;
        background-color: $red;
        padding: 2px 25px 3px;
        font-variation-settings: "wght" 700;
        font-family: $primary-font-family;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        width: fit-content;
        border-radius: 30px;
        border: 3px solid $black;
        align-self: center;
        position: relative;
        transition: all 0.2s ease-in-out;
        &:hover {
          background-color: $blue;
          font-variation-settings: "wght" 900;
        }
        &::after {
          content: "";
          position: absolute;
          width: 25px;
          aspect-ratio: 29 / 30;
          right: -10px;
          bottom: -12px;
          rotate: -15deg;
          background-image: url("../SOURIS.svg");
          background-size: contain;
          background-repeat: no-repeat;
          animation: click 3s infinite ease-in-out alternate;
        }
      }
    }
  }

}

@keyframes spin-star {
  0% {
    transform: translate(-50%, 50%) rotate(0deg);
  }
  20% {
    transform: translate(-50%, 50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, 50%) rotate(360deg);
  }
}

@keyframes click {
  0% {
    transform: translateY(0) translateX(0);
  }
  70% {
    transform: translateY(0) translateX(0);
  }
  80% {
    transform: translateY(-10px) translateX(-20px);
  }
  90% {
    transform: translateY(-10px) translateX(-20px);
    scale: 1;
  }
  95% {
    transform: translateY(-10px) translateX(-20px);
    scale: 0.9;
  }
  100% {
    transform: translateY(-10px) translateX(-20px);
    scale: 1;
  }
}
